*.suo
Debug/*
DropPointImportFromPN/DropPointImportFromPN/bin/*
DropPointImportFromPN/packages/*
DropPointImportFromPN/DropPointImportFromPN/obj/Debug/*
*j.user
/packages/*

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/packages/EntityFramework.6.1.2
DropPointImportFromGLS/DropPointImportFromGLS/packages/*
DropPointImportFromGLS/packages/*
